<div class="panel panel-default">
  <div class="panel-body">
    <div class="media">
      <% if movieproduct.image_path %>
          <%= link_to (image_tag movieproduct.image_path, :size => '150x150', :alt => 'image', :class => 'media-object'), movieproduct, :class => 'pull-left' %>
      <% end %>
      <div class="media-body">
        <h3 class="media-heading">
          <%= link_to "#{movieproduct.movie.title} (#{movieproduct.category.name})", movieproduct %>
        </h3>
        <h4 class="media-heading"><%= number_to_currency(movieproduct.price) %></h4>
        <%= movieproduct.description %>
      </div>
    </div>
  </div>
</div>