<div class="col-xs-3"></div>
<form class="form-horizontal" role="form">
  <div class="form-group">
    <label for="inputsearch" class="col-xs-1 control-label">Search</label>
    <div class="col-xs-5">
      <input type="text" class="form-control" id="inputsearch" placeholder="Search">
    </div>
    <div class="col-xs-2">
      <select class="form-control">
        <option value="blu-rays">Blu-Rays</option>
        <option value="posters">Posters</option>
      </select>
    </div>
    <button type="submit" class="btn btn-success">Search</button>
  </div>
</form>