<div class="page-header">
  <h1>All Products</h1>
</div>
<% if @movieproduct_results.empty? %>
    <p>Sorry, your search for '<%= params[:keywords] %>' returned no results.</p>
<% end %>
<%= render @movieproduct_results %>
<%= paginate @movieproduct_results %>
<footer>
  <p class="pull-right"><a href="#">Back to top</a></p>
  <p>&copy; 2013 Company, Inc. &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>
</footer>