<!DOCTYPE html>
<html>
    <head>
      <title>Take One Movie Goods</title>
      <%= stylesheet_link_tag    "application", :media => "all" %>
      <%= javascript_include_tag "application" %>
      <%= csrf_meta_tags %>
    </head>
    <body>
        <nav class="navbar navbar-default" role="navigation">
        <%= yield %>
        </nav>
    </body>
</html>
